html { 
    font-family:'Open Sans',sans-serif;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, p span {
    margin: 0;
    color:#666;
}

.container{
    max-width: 1920px;
    width: 100%;
}

/* header */

header {
    position: relative;
    top: 0;
    height:auto; 
    width: 100%;
}

/*navbar */
nav{
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 1;
    background-color: #fff;
    border-bottom: 1px solid #CCC;
}

nav:after{
    clear: both;
    content: "";
    display: block;
}

.nav-container{
    max-width: 1200px;
    position: relative;
    margin-right:auto;
    margin-left: auto;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.imagem_site {
    padding-top: 1em;
    padding-left: 1em;
    width: 100px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav-container ul{
    float: right;
    height:100px;
    line-height:100px;
    margin:0;
}

.nav-container li{
    float:left;
    margin: 0 15px;
}
/* sessão dos produtos */
.produtos {
    padding-top: 100px;
    width: 70%;
    float: left;
}

/* box dos produtos, escalavel*/ 
#box {
    float: left;
    padding-top: 2%;
    padding-left: 6%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/*caixa do produto*/
.p_espaco{
    padding-left: 1em;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    font-size: 1em;
    width: calc(30% - 10px); /* adjust as needed */
    margin-bottom: 1%;
    text-decoration: none;
}
/*imagem do produto*/
.p_espaco img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 100px;
}
/*titulo do produto*/
.p_espaco a:link{
    text-decoration: none;
}
.p_espaco a h1{
    text-align: center;
    font-size: 2em;
    color: black;
}
.p_espaco a p{
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    color: black;
}
/*caixa do produto quando hover*/
.p_espaco:hover {
    background-color: #b0ff8b;
	transition: 0.3s;
}
/*fonte do preco do produto*/
.custo{
    font-size: 2em !important;
}
/*sessão da caixa de informação*/
.informacao {
    padding-top: calc(100px + 2%);
    padding-right: 6%;
    padding-left: 6%;
    width: 18%;
    float: right;
}
/*footer*/
footer {
    height: 100px;
    background-color: #b0ff8b;
    position: relative;
    margin-top: -100px; /* negative margin equal to footer height */
    clear: both;
    border-top: 2px solid #8bbf71;
    margin-right:auto;
    margin-left: auto;
    display: flex;
    align-items: center; 
    justify-content: space-between;

}

#footer_header{
    float: left;
    width: 50%;
}


#links {
    width: 15%;
    margin-left: 1em;
    margin-right: 1em;
    float: right;
}

#numero_e_email {
    font-weight: 800;
    margin-left: 1em;
    width: 20%;
    float: right;
}

/*pagina de um unico produto onde se mostra o preco e como pagar*/
.pagina_do_produto {
    margin-top: calc(100px + 2em);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: calc(100px + 2em);
    display: grid;
    grid-template-columns: 60% 40%;
}

/*Imagem grande do produto para melhor ilustração na hora da compra*/
.produto_imagem_grande{
    border-style: solid;
    border-width: 2px;
    border-radius: 3pt;
}
.produto_imagem_grande img{
    width: 100%;
}

/*Informacoes de compra da pagina do produto*/
.informacoes_de_compra {
    border-style: solid;
    border-width: 2px;
    border-radius: 3pt;
    padding: 2em;
    text-align: center;
}
.informacoes_de_compra div{
    margin-top: 1em;
}

.informacoes_de_compra h1{
    text-align: center;
}


.informacoes_de_compra p{
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

.informacoes_de_compra button{
    margin-top: 2em;
    font-size: 1.2em;
    text-transform: uppercase;
    width: 70%;
    height: 3em;
}
